*.pyc
*.pdf
.DS_Store
*~
\#*
*\#
*.orig
*.sublime-project
*.sublime-workspace
*.vcxproj.user
Debug*/
Release*/
*.xcuserdata
*.xcuserstate
*.xcbkptlist
xcuserdata
.sconsign.dblite
SConstruct
config.py
setup.cfg
