.DS_Store
*.xcuserdata
*.xcuserstate
*.xcbkptlist
*.gcode
Othercam.xcodeproj/project.xcworkspace/xcuserdata/mikest.xcuserdatad/*
Othercam.xcodeproj/project.xcworkspace/xcshareddata/*
Othercutter.build/
xcuserdata